# --- POSTGRES ---
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloak

# --- KEYCLOAK ---
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080
KEYCLOAK_REALM=IAM

# --- GRAFANA OIDC ---
GRAFANA_CLIENT_ID=grafana
GRAFANA_CLIENT_SECRET=supersecret

# --- NETWORK ---
DOCKER_NETWORK=iam-network
